In [1]:
# Imports
import os
import pandas as pd
import numpy as np
import nltk
import string

# Define path
os.chdir('D:/TU_Graz/Thesis/Datasets/Reddit_original')

# Read datasets
movie_titles = pd.read_csv("movie_titles.csv", sep = ';')
comments = pd.read_csv("comments.csv", sep = ';')
comments_new = pd.DataFrame()

In [2]:
comments.head()

,reddit_submission_id,reddit_comment_id,reddit_comment_text,movie_ids
0,10gvsh,c6dh9hw,[The Man Who Wasn't There](http://www.imdb.com...,tt0243133
1,10gvsh,c6dhzjn,Here are a few neo-noir films you might like:<...,tt0166924|tt0235737|tt0243133|tt0399146|tt0780...
2,10gvsh,c6dn5oc,Seen them all but The Salton Sea and The man w...,tt0235737|tt0243133
3,10gvsh,c6dti4q,"It's not a movie, but Veronica Mars.",tt2771372
4,10gvsh,c6ey576,Kiss Kiss Bang Bang,tt0373469

In [3]:
comments = comments.fillna("")

In [4]:
movies=[]
for line in comments['movie_ids']:
    parts = line.split('|')
    movies_sub = ""
    for index, row in movie_titles.iterrows():
        if row['movie_id'] in parts:
            movies_sub = movies_sub + "|" + row['movie_title']
    movies.append(movies_sub[1:])

In [5]:
comments_new['text'] = comments['reddit_comment_text']
comments_new['movies'] = pd.Series(movies)